<template>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<!-- /.box-header -->
				<div class="box-body">
					<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
						<table id="example1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example1_info">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="employee in employees" :key="employee.id"  v-if="employee.id">
									<td>{{ employee.id }}</td>
									<td>{{ employee.name }}</td>
									<td>

								         <div class="material-switch">
								         	
								         	<span>P</span>
				                            <input :id="'absent_'+ employee.id" :name="'absent_'+ employee.id" type="checkbox"  @change="changeStatus(employee.id)" :checked="absent_employees.indexOf(employee.id) != -1" />
				                            
				                            <label :for="'absent_'+ employee.id" class="label-danger"></label>
				                            <span>A</span>
				                        </div>
									</td>

								</tr>
							</tbody>
						</table>
						<button class="btn btn-info btn-lg" @click="UpdateAttendance" v-if="update">Update Attendance</button>
						<button class="btn btn-info btn-lg" @click="SubmitAttendance" v-else>Submit Attendance</button>
					</div>
				</div>
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>
</template>
<script>
	export default {
		name: 'attendance',
		data(){
			return {
				today:'',
				update: false,
				employees :[],
				attendance:{
					absent_date: []
				},
				absent_employees:[
				],
				
			}
		},
		computed: {

		},
		methods: {
			all_employee(){
				axios.get('/all_employee')
				.then(({data}) => {
					this.employees = data;
				})
			},
			changeStatus(id){
				if (this.absent_employees.indexOf(id) != -1) {
					this.absent_employees.splice( this.absent_employees.indexOf(id), 1 );
					console.log(this.absent_employees);

				}else{
					this.absent_employees.push(id);
					console.log(this.absent_employees);
				}
			},
			SubmitAttendance(){
				Swal({
	                title: 'Are you sure submit today\'s attendance ?',
	                type: 'warning',
	                showCancelButton: true,
	                confirmButtonColor: '#3085d6',
	                cancelButtonColor: '#d33',
	                confirmButtonText: 'Yes, Submit it!'
            	}).then((result) => {
	                if (result.value) {
                    axios.post('/attendance',this.absent_employees)
                    	.then(({data}) => {
                    		Swal(
                                'Success!',
                                'Today\'s Attendance Taken.',
                                'success'
                            );
                            setTimeout(() => {
                            	document.location.href=window.location.origin + '/attendance';
                            }, 3000);
                    	})
                    	.catch(() =>{
                    		Swal(
                                'Success!',
                                'Wow! All people are present today.',
                                'success'
                            );
                    		setTimeout(() => {
                            	document.location.href=window.location.origin + '/attendance';
                            }, 2000);
                    	})
	                }
	            })
	        },
	        UpdateAttendance(){
				Swal({
	                title: 'Are you sure edit today\'s attendance ?',
	                type: 'warning',
	                showCancelButton: true,
	                confirmButtonColor: '#3085d6',
	                cancelButtonColor: '#d33',
	                confirmButtonText: 'Yes, Update it!'
            	}).then((result) => {
	                if (result.value) {
	                	console.log(this.absent_employees);
                    axios.post('/attendance',this.absent_employees)
                    	.then(({data}) => {
                    		Swal(
                                'Success!',
                                'Today\'s Attendance Updated.',
                                'success'
                            );
                            setTimeout(() => {
                            	document.location.href=window.location.origin + '/attendance';
                            }, 3000);
                    	})
                    	.catch(() =>{
                    		Swal(
                                'Success!',
                                'Wow! All people are present today.',
                                'success'
                            );
                    		setTimeout(() => {
                            	document.location.href=window.location.origin + '/attendance';
                            }, 2000);
                    	})
	                }
	            })
	        },
	        all_attendance(){
				axios.get('/all_attendance')
				.then(({data}) => {
					this.today = moment(new Date()).format("YYYY-MM-DD")
					data.map((list) => {
						if (list.absent_date == this.today) {
							this.update = true;
							this.absent_employees.push(list.employee_id);
							console.log(this.absent_employees);
						}
					})
				})
			}
		},
		created() {
			this.all_employee()
			this.all_attendance()
		}
	}

</script>
<style scoped>
	label.btn.btn-default.btn-on.active {
    color: #fff;
    background: #45B6AF;
    border: 0;
}
label.btn.btn-default.btn-on , label.btn.btn-default.btn-off{background:#fff;border:none;border-radius: 5px;transition: .2s;}
.input-sm { font-size: 16px;}
#status {
    border: 1px solid #ddd;
    border-radius: 5px;
}
label.btn.btn-default.btn-off.active {
    color: #fff;
    background: #F3565D;
    border: 0;
}

.material-switch span {
    font-size: 16px;
    font-weight: bold;
    padding: 0 8%;
    color: #859687;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
    background: #7bed9f;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
    background: #2ed573;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
</style>