<template>
	<section class="content">
  <div class="row">
    <div class="col-md-3">
        <form @submit.prevent="addEmployeeExpense">
      <div class="form-group has-feedback">
        <label>Employee Name</label>
      <select v-model="form.employee_id" name="employee_id" class="form-control" :class="{ 'is-invalid': form.errors.has('employee_id') }">
                  <option value="">Select a Employee</option>
                  <option v-for="employee in employees" :value="employee.id">{{ employee.name }}</option>
                </select>
                <has-error :form="form" field="employee_id"></has-error>
      </div>
      <div class="form-group has-feedback">
        <label>Expense Type</label>
      <select v-model="form.expenses_type" name="expenses_type" class="form-control" :class="{ 'is-invalid': form.errors.has('expenses_type') }">
                  <option value="">Select a Expense</option>
                  <option value="Salary">Salary</option>
                  <option value="Provident Fund">Provident Fund</option>
                  <option value="Powder">Powder</option>
                  <option value="Salary Advance">Salary Advance</option>
                  <option value="TA-DA">TA-DA</option>
                </select>
                <has-error :form="form" field="expenses_type"></has-error>
      </div>
      <div class="form-group has-feedback">
        <label>Expense Amount</label>
      <input v-model="form.expenses_amount" type="text" name="expenses_amount"
        class="form-control" :class="{ 'is-invalid': form.errors.has('expenses_amount') }" placeholder="Expenses Amount">
      <has-error :form="form" field="expenses_amount"></has-error>
      </div>
      <div class="form-group has-feedback">
        <label>Expense Detail</label>

      <textarea v-model="form.expenses_details" name="expenses_details"
        class="form-control" :class="{ 'is-invalid': form.errors.has('expenses_details') }" placeholder="Write some note"></textarea>
      <has-error :form="form" field="expenses_details"></has-error>

      </div>
      
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <!-- /.col -->
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary btn-block btn-flat" v-if="loading"> <i class="fa fa-spinner fa-fw"></i></button>
          <button type="submit" class="btn btn-primary btn-block btn-flat" v-if="!loading">Add Expense</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    </div>
    <div class="col-md-9">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
        	<ul class="timeline timeline-inverse">

            <li class="time-label" v-for="employee_expense in employee_expenses" :key="employee_expense.id">
                        <span class="bg-red" >
                          {{ employee_expense.created_at | myDate }}
                        </span>
                  
                    <i class="fa fa-info bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{ employee_expense.created_at | myTime }}</span>

                      <h3 class="timeline-header" v-if="employee_expense.employee">{{ employee_expense.expenses_type }} is given to <a href="#">{{ employee_expense.employee.name }} ( BDT {{ employee_expense.expenses_amount }})</a> 
                      </h3>

                      <div class="timeline-body" v-if="employee_expense.expenses_details">
                        {{ employee_expense.expenses_details }}
                      </div>
                      <!-- <div class="timeline-footer">
                        <a class="btn btn-primary btn-xs">Read more</a>
                        <a class="btn btn-danger btn-xs">Delete</a>
                      </div> -->
                    </div>
                  </li>
              </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
</template>
<script>
	export default {
		name: 'expense',
		data(){
			return {
				loading: false,
				employees: [],
				employee_expenses: [],
				form: new Form({
	                employee_id: '',
	                expenses_type : '',
	                expenses_amount : '',
	                expenses_details : ''
            })
			}
		},
		methods: {
			all_employee(){
				axios.get('/all_employee')
				.then(({data}) => {
					this.employees = data;
				})
			},
			addEmployeeExpense(){
            	this.loading = true;
				this.form.post('/employee-expense').
				then(({data}) => {
					Swal(
                        'Success!',
                        data,
                        'success'
                    );
                    this.$Progress.start();
	            	this.form.reset();
	            	this.loading = false;
	            	this.all_e_expense();
	            	this.$Progress.finish();
				})
				.catch((err) => {
	            	this.$Progress.fail();
					this.loading = false;
				})
			},
			all_e_expense(){
				axios.get('/all_employee_expense')
				.then(({data}) => {
					this.employee_expenses = data;
					console.log(data);
				})
			}
		},
		created() {
			this.all_employee()
			this.all_e_expense()
		}
	}
</script>
<style scoped>
	.help-block.invalid-feedback {
	    color: red;
	    font-weight: bold;
	}
	.box{border:none;}
	.bg-red{margin-bottom: 40px;}
	.bg-blue{margin-top: 60px}
</style>